<header class="d-flex align-items-center mb-3">
  <i
    class="fa-solid fa-user ig-profile-img rounded-circle me-2 bg-gray d-flex align-items-center justify-content-center p-4"
  ></i>
  <div class="m-0 ms-2">
    <h2>Mi_cuenta</h2>
    <div class="d-flex align-items-center">
      <p class="m-0 text-center">
        <span class="fw-bold">586</span> publicaciones
      </p>
      <p class="m-0 ms-2 text-center">
        <span class="fw-bold">123k</span> seguidores
      </p>
      <p class="m-0 ms-2 text-center">
        <span class="fw-bold">76</span> seguidos
      </p>
    </div>
  </div>
</header>
