<div
  *ngFor="let input of inputs"
  class="p-2 rounded"
  [class]="activeInput == input.name ? input.css : activeInput ? 'text-muted' : ''"
>
  <p class="m-0 fw-bold">{{ input.title }}</p>
  <p class="m-0 px-2 fs-7">
    {{ input.content }}
  </p>
</div>

<div
  class="p-2 rounded bg-danger text-white"
  *ngIf="igBiography.get('alerta')?.value.length > 120 + alertaLength"
>
  <p class="m-0">Superaste los 120 caracteres</p>
  <p
    *ngIf="igBiography.get('alerta')?.value.length >= 150 + alertaLength"
    class="m-0"
  >
    Llegaste a los 150 caracteres de instagram
  </p>
</div>
