.ig-profile-img {
  width: auto;
  height: auto;
  max-width: 70px;
  max-height: 70px;
  font-size: 50px;
}

.bg-gray {
  background-color: gray;
}

@media screen and (min-width: 512px) {
  .ig-profile-img {
    max-width: 100px;
    max-height: 100px;
  }
}
