<div class="p-3 rounded shadow">
  <app-ig-header></app-ig-header>
  <app-ig-bio-content [igBiography]="igBiography" class="d-lg-none"></app-ig-bio-content>

  <!-- Content -->
  <div class="mt-3">
    <app-inputs [igBiography]="igBiography"></app-inputs>
  </div>
</div>

<!-- Btn Copy -->
<div class="m-3 d-flex justify-content-end justify-content-lg-start">
  <div>
    <button
      type="button"
      class="btn btn-primary text-white"
      (click)="copiarAlPortapapeles(igBiography.valid)"
      ngbTooltip="Copiar la biografía"
    >
      Copiar biografía
    </button>
  </div>
</div>

<ng-template #offcanvas let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">¡Gracias! </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="offcanvas-body">
    <p>
      Gracias por utilizar nuestra herramienta, nos ayudaría mucho que lo compartas en tus redes sociales y nos menciones como <a href="https://www.instagram.com/seocontenidos/" target="_blank">@seocontenidos</a>
    </p>

    <div class="text-end">
      <a
        class="btn btn-outline-success"
        (click)="offcanvas.close('Close click')"
        (click)="clearForm()"
      >
        Crea otra biografía
      </a>
      <a
        class="btn btn-primary text-white ms-1"
        href="https://www.instagram.com/"
        target="_blank"
      >
        Ir a Instagram
      </a>
    </div>
  </div>
</ng-template>

<app-message-length [igBiography]="igBiography"></app-message-length>
