<div class="p-3 rounded shadow">
  <header class="d-flex align-items-center">
    <i class="fa-solid fa-user ig-profile-img rounded-circle me-md-3 me-lg-4 me-xl-5 bg-gray d-flex align-items-center justify-content-center p-4"></i>
    <div class="m-0 ms-2 ms-md-3">
      <h2>Mi_cuenta</h2>
      <div class="d-flex align-items-center">
        <p class="m-0 text-center"><span class="fw-bold">586</span> publicaciones</p>
        <p class="m-0 ms-2 text-center"><span class="fw-bold">123k</span> seguidores</p>
        <p class="m-0 ms-2 text-center"><span class="fw-bold">76</span> seguidos</p>
      </div>
    </div>
  </header>

  <!-- Content -->
  <div class="col-12 pt-3">
    <app-inputs [igBiography]="igBiography"></app-inputs>
  </div>
</div>

<!-- Btn Copy -->
<div class="m-3 d-flex justify-content-end justify-content-lg-start">
  <div>
    <button
      type="button"
      class="btn btn-primary"
      (click)="copiarAlPortapapeles(igBiography.valid)"
      ngbTooltip="Copiar la biografía"
    >
      Copiar biografía
    </button>
  </div>
</div>

<ng-template #offcanvas let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Gracias !!!</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="offcanvas-body">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
      corrupti.
    </p>

    <div class="text-end">
      <a
        class="btn btn-outline-dark"
        (click)="offcanvas.close('Close click')"
        (click)="clearForm()"
      >
        Crea otra biografía
      </a>
    </div>
  </div>
</ng-template>
