<form class="form" [formGroup]="igBiography">
  <div class="input-group mb-3">
    <input
      type="text"
      id="inputNombre"
      class="form-control"
      placeholder="Nombre de mi cuenta"
      aria-describedby="nombre"
      maxlength="30"
      autocomplete="off"
      formControlName="nombre"
      (click)="changeActive('nombre')"
      (change)="changeActive('nombre')"
      (blur)="changeActive('')"
    />
    <span class="input-group-text" id="nombre">
      {{ 30 - igBiography.value.nombre.length }}
    </span>
    <span
      class="input-group-text btn btn-primary text-white"
      ngbTooltip="Copiar el nombre"
      (click)="copiarAlPortapapeles()"
    >
      Copiar nombre
    </span>
  </div>

  <hr />

  <!-- IG Biography Input -->
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="A quien le hablo"
      aria-describedby="miniBio"
      maxlength="35"
      autocomplete="off"
      formControlName="miniBio"
      (click)="changeActive('miniBio')"
      (change)="changeActive('miniBio')"
      (blur)="changeActive('')"
    />
    <span class="input-group-text" id="miniBio">
      {{ 35 - igBiography.value.miniBio.length }}
    </span>
  </div>

  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Que hago por ellos"
      aria-describedby="autoridad"
      maxlength="25"
      autocomplete="off"
      formControlName="autoridad"
      (click)="changeActive('autoridad')"
      (change)="changeActive('autoridad')"
      (blur)="changeActive('')"
    />
    <span class="input-group-text" id="autoridad">
      {{ 25 - igBiography.value.autoridad.length }}
    </span>
  </div>

  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Que me diferencia"
      aria-describedby="descripcion"
      maxlength="45"
      autocomplete="off"
      formControlName="descripcion"
      (click)="changeActive('descripcion')"
      (change)="changeActive('descripcion')"
      (blur)="changeActive('')"
    />
    <span class="input-group-text" id="descripcion">
      {{ 45 - igBiography.value.descripcion.length }}
    </span>
  </div>

  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="LLamado a la acción"
      aria-describedby="alerta"
      [maxlength]="150 + alertaLength"
      autocomplete="off"
      formControlName="alerta"
      (click)="changeActive('alerta')"
      (change)="changeActive('alerta')"
      (blur)="changeActive('')"
    />
    <span class="input-group-text" id="alerta">
      {{ 150 + alertaLength - igBiography.value.alerta.length }}
    </span>
  </div>
</form>
