<form class="form" [formGroup]="igBiography">
  <div *ngFor="let input of inputs; let i = index">
    <div class="input-group mb-3">
      <input
        type="text"
        [id]="input.name"
        class="form-control"
        [placeholder]="input.title"
        [maxlength]="i >= 4 ? input.maxlength + alertaLength : input.maxlength"
        autocomplete="off"
        [formControlName]="input.name"
        (click)="changeActive(input.name)"
        (change)="changeActive(input.name)"
        (focus)="changeActive(input.name)"
        (blur)="changeActive('')"
      />

      <!-- How to fill the input -->
      <span
        class="input-group-text bg-primary d-lg-none"
        (click)="show = true"
        (click)="selected = i"
      >
        <i class="fa-solid fa-question text-white"></i>
      </span>

      <!-- Display emojis modal -->
      <span
        class="input-group-text bg-white d-none d-lg-block"
        (click)="changeActive(input.name)"
        (click)="setIgInputForm(input.name)"
        (click)="diplayEmojis()"
      >
        <i class="fa-regular fa-face-smile"></i>
      </span>

      <!-- Max length box -->
      <span class="input-group-text justify-content-center min-w-btn" [class]="i ? 'rounded-end' : ''">
        {{
          (i >= 4 ? input.maxlength + alertaLength : input.maxlength) -
            igBiography.value[input.name].length
        }}
      </span>

      <!-- Button copy name -->
      <span
        *ngIf="!i"
        class="input-group-text btn btn-primary text-white"
        ngbTooltip="Copiar el nombre"
        (click)="copiarAlPortapapeles()"
      >
        Copiar nombre
      </span>
    </div>
    <hr *ngIf="!i" />
  </div>
</form>

<div
  *ngIf="show"
  class="position-absolute w-100 vh-100 top-0 start-0 z-index-1200"
  (click)="show = false"
>
  <ngb-toast
    class="p-2 position-fixed top-50 start-50 translate-middle bg-white"
    [autohide]="false"
    (hidden)="show = false"
  >
    <ng-template ngbToastHeader>
      <div class="me-auto fs-5 fw-bold text-dark">
        {{ inputs[selected].title }}
      </div>
    </ng-template>

    <p class="m-0">{{ inputs[selected].content }}</p>
  </ngb-toast>
</div>
