<h2 class="text-center py-3">Simulador de biografía instagram</h2>

<div class="row">
  <!-- IG Card Biography -->
  <div class="col-12 col-lg-8 col-xl-9 order-lg-2">
    <app-ig-card [igBiography]="igBiography"></app-ig-card>
  </div>

  <!-- IG Biography -->
  <div class="col-12 col-lg-4 col-xl-3 order-lg-1">
    <div
      class="mb-3 p-2 rounded"
      [class]="activeInput == 'nombre' ? 'bg-secondary text-white' : ''"
    >
      <p class="m-0 fw-bold">Nonbre de mi cuenta</p>
      <p class="m-0 px-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam,
        dolorem?
      </p>
    </div>

    <div
      class="mb-3 p-2 rounded"
      [class]="activeInput == 'miniBio' ? 'bg-secondary text-white' : ''"
    >
      <p class="m-0 fw-bold">A quien le hablo</p>
      <p class="m-0 px-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam,
        dolorem?
      </p>
    </div>

    <div
      class="mb-3 p-2 rounded"
      [class]="activeInput == 'autoridad' ? 'bg-secondary text-white' : ''"
    >
      <p class="m-0 fw-bold">Que hago por ellos</p>
      <p class="m-0 px-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam,
        dolorem?
      </p>
    </div>

    <div
      class="mb-3 p-2 rounded"
      [class]="activeInput == 'descripcion' ? 'bg-secondary text-white' : ''"
    >
      <p class="m-0 fw-bold">Que me diferencia</p>
      <p class="m-0 px-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam,
        dolorem?
      </p>
    </div>

    <div
      class="mb-3 p-2 rounded"
      [class]="activeInput == 'alerta' ? 'bg-secondary text-white' : ''"
    >
      <p class="m-0 fw-bold">LLamado a la acción</p>
      <p class="m-0 px-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam,
        dolorem?
      </p>
    </div>

    <div
      class="p-2 rounded bg-danger text-white"
      *ngIf="igBiography.get('alerta')?.value.length > 120 + alertaLength"
    >
      <p class="m-0">Superaste los 120 caracteres</p>
      <p
        *ngIf="igBiography.get('alerta')?.value.length >= 150 + alertaLength"
        class="m-0"
      >
        Llegaste a los 150 caracteres de instagram
      </p>
    </div>
  </div>
</div>
