<h2 class="text-center py-3">Simulador de biografía instagram</h2>

<div class="row">
  <!-- IG Card Biography -->
  <div class="col order-lg-2">
    <app-ig-card [igBiography]="igBiography"></app-ig-card>
  </div>

  <!-- IG Labels Biography -->
  <div class="col-12 col-lg-2 order-lg-1 d-none d-lg-block">
    <app-ig-labels [igBiography]="igBiography"></app-ig-labels>
  </div>

  <div class="col order-3 d-none d-lg-block">
    <app-ig-mockup [igBiography]="igBiography"></app-ig-mockup>
  </div>
</div>

