/* You can add global styles to this file, and also import other style files */

$primary: #4284f3;
$danger: #db4437;
$warning: #f3b300;
$success: #0f9c58;

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "@ctrl/ngx-emoji-mart/picker";

input,
select,
textarea,
button {
  box-shadow: none !important;
}
